.gridContainer {
  border-style: solid;
  border-width: 2px;
  width: 450px;
  text-align: center;
  margin: 10px auto;
}

.container {
  min-height:200px;
  min-width: 400px;
}

.cell {
  width:100px;
  height: 100px;
  display: inline-block;
  border: solid;
  border-color:black;
  margin: 10px;
  vertical-align:top;
}
